.blackBox{
    background-color: black;
    height: 200px;
    width: 20px;
    margin: auto;

}
.btnRandom{
    font-size: 45px;
    background-color: green;
    height: 100px;
    position: absolute;
    left: 15%;
    bottom: 58%;
}
.btnRandom:hover{
    background-color: greenyellow;
}
.btnViolet{
    margin: auto;
    font-size: 45px;
    background-color: blueviolet;
    height: 100px;
    position: absolute;
    left: 15%;
    bottom: 45%;
     
}
.btnViolet:hover{
    background-color: violet;
}
.trafficLight{
    height: 500px;
    border-radius: 5%;

}
.shadowRed {
    box-shadow: 0 0 50px 20px red, 0 0 30px 20px yellow;
    
}
.shadowYellow {
    box-shadow: 0 0 50px 20px yellow, 0 0 20px 20px yellow;
    
}
.shadowGreen {
    box-shadow: 0 0 50px 20px green, 0 0 30px 20px yellow;
    
}